body{

    background-image: url("../img/background-kitchen2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;    
    background-position: top;
    background-attachment: fixed;
    /* font-size: 14px; */

    color:black;
    line-height: 14pt;
    /* padding-left: 0%;
    padding-bottom: 0%;
    padding-top: 0%; */
    /* background-color: rgb(101, 100, 100); */

    /* background-color: darkslategray; */
}
.wrapper {    

}

.topbox {color: steelblue;
  font-size: 42px;
  font-family: "Square Peg", cursive;
  display:flex;
  align-items:center;

}

.bottombox {color: orangered;
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
  
  
  /* position:  */
}

.bottombox img{
  /* border: 1px solid rgb(201, 9, 9); */
  border-radius: 10 px;
  padding: 0;
  width: 250px;
  
    
}


.bottombox img:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 5px 5px 75px rgb(42, 30, 96);
    opacity: 0.8;
    filter:saturate(125%);

  }


.background {
  width :150px
}


.title {font-family: 'Nova Round', cursive;    
    font-weight: bold;
    line-height: 20pt;
}

.recipe-wrapper {font-family: 'Nova Slim', cursive;
  font-size: 12px;

}