



body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    /* font-size: 14px; */

    color:black;
    line-height: 14pt;
    /* padding-left: 0%;
    padding-bottom: 0%;
    padding-top: 0%; */
    background-color: rgb(101, 100, 100);

    /* background-color: darkslategray; */
}


.topbox {border-style: solid;
  color: rgb(78, 9, 238);
  font-size: 42px
  ;
}

.bottombox {border-style :solid;
  color: orangered;
  
  
  /* position:  */
}



.bottombox ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 20px;
  left: 20px;
}

.bottombox img{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
  width: 250px;
  display: inline;
  align-items: center;
  
}

.bottombox li {
  display: inline;
  margin:auto;
}

.bottombox img:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 5px 5px 75px gold;
    opacity: 0.8;
    filter:contrast(280%);
  }


.background {
  width :150px
}


h1 {
    /* font-size: 14px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 20pt;

}

img {width: 100 px;
}

  
/* 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */

div.polaroid {
width: 30%;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 25px;
}

div.container {
text-align: center;
padding: 5px 10px;
}